backend_node-red/node-red.json
[
    {
        "id": "7247cb6d77bce564",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bebc47d7bd6d6835",
        "type": "http in",
        "z": "7247cb6d77bce564",
        "name": "",
        "url": "/apolloGETMusicas",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "9a3080c9143adc50"
            ]
        ]
    },
    {
        "id": "9a3080c9143adc50",
        "type": "cloudantplus in",
        "z": "7247cb6d77bce564",
        "name": "",
        "cloudant": "b2951d6249908fc1",
        "database": "apollo",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "944459c8943cbf86"
            ]
        ]
    },
    {
        "id": "7a62956765daa6f9",
        "type": "http in",
        "z": "7247cb6d77bce564",
        "name": "",
        "url": "/postapollo",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "be7bf418684a3bc0"
            ]
        ]
    },
    {
        "id": "be7bf418684a3bc0",
        "type": "cloudantplus out",
        "z": "7247cb6d77bce564",
        "name": "",
        "cloudant": "b2951d6249908fc1",
        "database": "apollo_events",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "944459c8943cbf86",
                "01011722cf429adb"
            ]
        ]
    },
    {
        "id": "01011722cf429adb",
        "type": "debug",
        "z": "7247cb6d77bce564",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "944459c8943cbf86",
        "type": "http response",
        "z": "7247cb6d77bce564",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "6eca61f24f2c38e1",
        "type": "http in",
        "z": "7247cb6d77bce564",
        "name": "",
        "url": "/apolloGETEventos",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "c7d417dee66c2e21"
            ]
        ]
    },
    {
        "id": "c7d417dee66c2e21",
        "type": "cloudantplus in",
        "z": "7247cb6d77bce564",
        "name": "",
        "cloudant": "b2951d6249908fc1",
        "database": "apollo_events",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 380,
        "y": 120,
        "wires": [
            [
                "944459c8943cbf86",
                "01011722cf429adb"
            ]
        ]
    },
    {
        "id": "b2951d6249908fc1",
        "type": "cloudantplus",
        "host": "https://apikey-v2-xqmwqcwxzw39a34csad7x4mhe9k08798uohg4ihq9o7:40f8a5b2dea8e8dd04aee009c2247092@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": true
    }
]